.announcements {
  width: 96vw;
  margin: 2rem auto;
}

.callDiv {
  background: rgba(34, 28, 28, 0.6);
  padding: 1rem;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
}

.announceCard {
  height: 10rem;
  overflow: hidden;
  margin-top: 1rem;
  border-radius: var(--borderRadius);
}

.cardAnnouncement {
  width: 100%;
  margin-right: 1rem;
  border-radius: 8px;
  object-fit: cover;
}

.cardAnnouncement img {
  height: 100%;
  width: 20rem;
  border-radius: 8px;
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  .announceCard {
    display: block !important;
    height: 20rem;
    border-radius: 8px;
  }
  .cardAnnouncement img {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
  }
}

@media screen and (min-width: 501px) {
  .announcements {
    width: 100%;
  }

  .announceCard {
    display: block !important;
    height: 30rem;
    border-radius: 8px;
  }
  .cardAnnouncement img {
    height: 100%;
    width: 85%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
  }
}
