@media screen and (max-width: 900px) {
  .menuForm {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 12%;
  }
  .menuForm div {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
  }
  .menuForm input {
    padding: 1rem 3rem;
    width: 70%;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgba(148, 137, 137, 0.5);
    font-weight: bold;
    font-size: 1.5rem;
  }
  .menuForm span {
    font-size: 1.4rem;
    position: absolute;
    top: 30%;
    left: 70%;
  }
}
