/* constants */
:root {
  --ComponentWidth: 95%;
  --borderRadius: 4px;
  --AutoMargin: 0 auto;
  --AutoMarginTB: 3rem auto;
  --transformScale: scale(1.1);
  --padding: 1rem;
}
/* these are constant style values that could be repeated */
/* this is for diplay */
.df {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* this is the end of the constant styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  /* overflow: hidden; */
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(148, 144, 144, 0.1);
  /* height: fit-content; */
  /* max-width: 85vw; */
}
.appMain{
  max-width: 90rem;
  margin :var(--AutoMargin)
}

.productForm form{
  margin-bottom: 2rem;
}
.productForm form input{
  padding: .8rem;
}

.productForm form label{
  font-size: 1.5rem;
}

.productForm form input , .productForm form label{
  display: block;
}
