.overlay {
  height: 70vh;
  position: fixed;
  top: 10%;
  margin: 0 auto;
  background: rgba(238, 215, 215, 0.9);
  z-index: 2;
  visibility: visible;
}
.small {
  width: 75%;
  left: 15%;
}
.wide {
  width: 95%;
  left: 2%;
}
.overlayDiv {
  height: 70%;
  padding: 0 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.details {
  margin-right: 1.5rem;
}
.details h3 {
  width: 16rem;
}
.details h3 img {
  width: 100%;
  height: 20rem;
}
.overlayDiv p {
  font-size: 1.5rem;
}

.select {
  text-align: center;
}

.select select {
  margin-right: 1.5rem;
  margin-bottom: 2rem;
}
